@model DALEtiquetas.Models.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
</head>
<body>
    @using (Html.BeginForm("autentica", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <h5 class="text-center mb-4 text-primary">Acceso escriba sus datos:</h5>

                <div class="mb-3">
                    <label for="lblUsuario" class="form-label fw-bold">Nombre de usuario:</label>
                    @Html.TextBoxFor(e => e.Usuario, new { @class = "form-control", placeholder = "tu nombre de usuario *" })
                    @Html.ValidationMessageFor(e => e.Usuario , "" , new { @class = "text-danger" })

                </div>
                <div class="mb-3">
                    <label for="lblPassword" class="form-label fw-bold">Password:</label>
                    @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "tu Password *" })
                    <span id="result"></span>
                    @Html.ValidationMessageFor(e => e.Password, "", new { @class = "text-danger" })
                </div>
                <p class="small invisible"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
                <p class="text-danger">@ViewData["Message"]</p> 
                <div class="mt-3">
                    <p class="mb-0  text-center invisible">
                        Don't have an account? <a href="signup.html"
                                                  class="text-primary fw-bold">
                            Sign
                            Up
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</body>
</html>
